Arpeggio==1.10.2
astroid==2.8.0
attrs==21.2.0
awscli==1.20.48
botocore==1.21.48
cfn-flip==1.2.3
click==8.0.1
colorama==0.4.3
dill==0.3.4
docutils==0.15.2
flake8==3.9.2
grpcio==1.41.0
isort==5.9.3
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
parver==0.3.1
platformdirs==2.4.0
protobuf==3.18.0
pulumi==3.13.2
pulumi-hcloud==1.5.0
pulumi-terraform==5.4.0
pyasn1==0.4.8
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.11.1
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.0
semver==2.13.0
six==1.16.0
toml==0.10.2
troposphere==3.0.3
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.12.1
